<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width", initial-scale="1.0" charset="utf-8" />
    <title>Password Reset</title>
</head>
<body>
    <p>Hi {{ user.first_name|default:user.username }},</p>
    <p>We received a request to reset your BrightSkill password.</p>
    <p>
        Click the link below to set a new password:<br />
        <a href="{{ reset_link }}">{{ reset_link }}</a>
    </p>
    <p>If you did not request this, you can ignore this email.</p>
</body>
</html>
